<div class="test_screen">
    <div class="test_card">
        <div class="test_grid">
            <div class="test_question_text">
                <h4>{{question.question}}</h4>
            </div>
        <div class="test_question_list" #checkboxes>
            <div class="test_question_check" *ngFor="let answer of question.answers; let i = index">
                <div class="test_question_data">
                    <div>
                        <label class="container">
                            <input type="checkbox" (change)="onSelectItem($event,i)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        {{answer}}
                    </div>
                </div>
            </div>
        </div>    
        <div class="test_button_container">
            <div *ngIf="!last" class="test_button" (click)="nextQuestion()">next</div>
            <div *ngIf="last" class="test_button" (click)="endTest()">end</div>
        </div>
        </div>
    </div>
</div>