.test_screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-image: url(https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
}

.test_card {
    position: absolute;
    width: 50vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 3px solid #449db8ec;
}

.test_button_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 30px; 
}

.test_button {
    margin-right: 20px;
    border-radius: 7px;
    background-color: rgba(68, 157, 184, 0.2);
    transition:  background-color 250ms linear;
    padding: 10px 15px;
    border: none;
    height: auto;
}

.test_button:not([disabled]):hover{
    transition:  background-color 250ms linear;
    background-color: rgba(68, 157, 184, 1);
    cursor: pointer;
    color: #ffffff;
}

.test_grid {
    width: 100%;
    height:  calc(100% - 100px);
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.test_question_text {
    align-self: center;
    justify-self: center;
}